---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Preloader Start -->
  <div class="preloader">
    <div class="loading-container">
      <div class="loading"></div>
      <div id="loading-icon">
        <img src="/assets/images/loader.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- About Us Section Start -->
  <div class="about-us page-about-us">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-12">
          <!-- Section Title Start -->
          <div class="section-title section-title-center">
            <h3 class="wow fadeInUp">About Us</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              We provide innovative solutions to help your cybersecurity startup
              grow, building a trusted <span>brand with precision</span>
            </h2>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <!-- About Counter Box Start -->
          <div class="about-counter-box">
            <h2><span class="counter">26</span></h2>
            <p>Years of work experience</p>
          </div>
          <!-- About Counter Box End -->
        </div>

        <div class="col-lg-8">
          <!-- About Us Content Start -->
          <div class="about-us-content">
            <!-- About Us List Start -->
            <div class="about-us-list">
              <!-- About List Item Start -->
              <div class="about-list-item wow fadeInUp">
                <img src="/assets/images/icon-about-item-1.svg" alt="" />
                <h3>Our mission</h3>
                <p>
                  At the core of our mission is the belief that every business
                  deserves a customized cybersecurity.
                </p>
              </div>
              <!-- About List Item End -->

              <!-- About List Item Start -->
              <div class="about-list-item wow fadeInUp" data-wow-delay="0.2s">
                <img src="/assets/images/icon-about-item-2.svg" alt="" />
                <h3>Our vision</h3>
                <p>
                  Our vision is to redefine the cybersecurity with innovative,
                  adaptive solutions that evolve.
                </p>
              </div>
              <!-- About List Item End -->
            </div>
            <!-- About Us List End -->

            <!-- About Us Body Start -->
            <div class="about-us-body wow fadeInUp" data-wow-delay="0.4s">
              <p>
                We specialize in empowering cybersecurity startups with
                tailored, innovative solutions designed to foster growth and
                establish a trusted brand identity. From building a strong
                online presence to delivering cutting-edge strategies, we
                combine precision, expertise, and creativity.
              </p>
            </div>
            <!-- About Us Body End -->
          </div>
          <!-- About Us Content End -->
        </div>
      </div>
    </div>
  </div>
  <!-- About Us Section End -->

  <!-- Our Potential Section Start -->
  <div class="our-potential">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <!-- Our FAQs Content Start -->
          <div class="our-potential-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Unlock your business potential</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Developing cybersecurity solutions to propel your <span
                  >business forward</span
                >
              </h2>
            </div>
            <!-- Section Title End -->

            <!-- FAQ Accordion Start -->
            <div class="potential-accordion" id="accordion">
              <!-- FAQ Item Start -->
              <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                <h2 class="accordion-header" id="pheading1">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pcollapse1"
                    aria-expanded="true"
                    aria-controls="pcollapse1"
                  >
                    Learn Our Company Mission
                  </button>
                </h2>
                <div
                  id="pcollapse1"
                  class="accordion-collapse collapse show"
                  aria-labelledby="pheading1"
                  data-bs-parent="#accordion"
                >
                  <div class="accordion-body">
                    <div class="accordion-image">
                      <figure>
                        <img
                          src="/assets/images/potential-accordion-img.jpg"
                          alt=""
                        />
                      </figure>
                    </div>
                    <div class="accordion-item-content">
                      <p>
                        We strive to create a safer digital environment where
                        businesses can thrive and individuals can feel secure.
                      </p>
                      <ul>
                        <li>Enabling Secure Growth</li>
                        <li>Protecting What Matters Most</li>
                        <li>Driving Innovation in Cybersecurity</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FAQ Item End -->

              <!-- FAQ Item Start -->
              <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="accordion-header" id="pheading2">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pcollapse2"
                    aria-expanded="true"
                    aria-controls="pcollapse2"
                  >
                    Our Company Vision
                  </button>
                </h2>
                <div
                  id="pcollapse2"
                  class="accordion-collapse collapse"
                  aria-labelledby="pheading2"
                  data-bs-parent="#accordion"
                >
                  <div class="accordion-body">
                    <div class="accordion-image">
                      <figure>
                        <img
                          src="/assets/images/potential-accordion-img.jpg"
                          alt=""
                        />
                      </figure>
                    </div>
                    <div class="accordion-item-content">
                      <p>
                        We strive to create a safer digital environment where
                        businesses can thrive and individuals can feel secure.
                      </p>
                      <ul>
                        <li>Enabling Secure Growth</li>
                        <li>Protecting What Matters Most</li>
                        <li>Driving Innovation in Cybersecurity</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FAQ Item End -->

              <!-- FAQ Item Start -->
              <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                <h2 class="accordion-header" id="pheading3">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pcollapse3"
                    aria-expanded="true"
                    aria-controls="pcollapse3"
                  >
                    Our Philosophy
                  </button>
                </h2>
                <div
                  id="pcollapse3"
                  class="accordion-collapse collapse"
                  aria-labelledby="pheading3"
                  data-bs-parent="#accordion"
                >
                  <div class="accordion-body">
                    <div class="accordion-image">
                      <figure>
                        <img
                          src="/assets/images/potential-accordion-img.jpg"
                          alt=""
                        />
                      </figure>
                    </div>
                    <div class="accordion-item-content">
                      <p>
                        We strive to create a safer digital environment where
                        businesses can thrive and individuals can feel secure.
                      </p>
                      <ul>
                        <li>Enabling Secure Growth</li>
                        <li>Protecting What Matters Most</li>
                        <li>Driving Innovation in Cybersecurity</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FAQ Item End -->

              <!-- FAQ Item Start -->
              <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                <h2 class="accordion-header" id="pheading4">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pcollapse4"
                    aria-expanded="true"
                    aria-controls="pcollapse4"
                  >
                    Our Strategy
                  </button>
                </h2>
                <div
                  id="pcollapse4"
                  class="accordion-collapse collapse"
                  aria-labelledby="pheading4"
                  data-bs-parent="#accordion"
                >
                  <div class="accordion-body">
                    <div class="accordion-image">
                      <figure>
                        <img
                          src="/assets/images/potential-accordion-img.jpg"
                          alt=""
                        />
                      </figure>
                    </div>
                    <div class="accordion-item-content">
                      <p>
                        We strive to create a safer digital environment where
                        businesses can thrive and individuals can feel secure.
                      </p>
                      <ul>
                        <li>Enabling Secure Growth</li>
                        <li>Protecting What Matters Most</li>
                        <li>Driving Innovation in Cybersecurity</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FAQ Item End -->
            </div>
            <!-- FAQ Accordion End -->
          </div>
        </div>

        <div class="col-lg-5">
          <!-- Potential Image Start -->
          <div class="potential-image">
            <figure class="image-anime reveal">
              <img src="/assets/images/potential-image.jpg" alt="" />
            </figure>
          </div>
          <!-- Potential Image End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Potential Section End -->

  <!-- Who We Are Section Start -->
  <div class="who-we-are">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Who We Are Images Start -->
          <div class="who-we-are-images">
            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <!-- Customer Review Box Start -->
              <div class="customer-review-box">
                <!-- Customer Review Images Start -->
                <div class="customer-review-images">
                  <!-- Customer Image Start -->
                  <div class="customer-image reveal">
                    <figure class="image-anime">
                      <img src="/assets/images/author-1.jpg" alt="" />
                    </figure>
                  </div>
                  <!-- Customer Image End -->

                  <!-- Customer Image Start -->
                  <div class="customer-image reveal">
                    <figure class="image-anime">
                      <img src="/assets/images/author-2.jpg" alt="" />
                    </figure>
                  </div>
                  <!-- Customer Image End -->

                  <!-- Customer Image Start -->
                  <div class="customer-image reveal">
                    <figure class="image-anime">
                      <img src="/assets/images/author-3.jpg" alt="" />
                    </figure>
                  </div>
                  <!-- Customer Image End -->
                </div>
                <!-- Customer Review Images End -->

                <!-- Customer Review Box Content Start -->
                <div class="customer-review-content">
                  <p><span class="counter">90</span>% fast incident response</p>
                </div>
                <!-- Customer Review Box Content End -->
              </div>
              <!-- Customer Review Box End -->

              <!-- Who We Are Image Start -->
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="/assets/images/who-we-are-img-1.jpg" alt="" />
                </figure>
              </div>
              <!-- Who We Are Image End -->
            </div>
            <!-- Who We image Box End -->

            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="/assets/images/who-we-are-img-2.jpg" alt="" />
                </figure>
              </div>
            </div>
            <!-- Who We image Box End -->

            <!-- Readmore Image Crcle Start -->
            <div class="readmore-img-circle">
              <a href="contact.html">
                <img src="/assets/images/readmore-img-circle.svg" alt="" />
              </a>
            </div>
            <!-- Readmore Image Crcle End -->
          </div>
          <!-- Who We Are Images End -->
        </div>

        <div class="col-lg-6">
          <!-- Who We Are Counter Start -->
          <div class="who-we-are-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">who we are</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Insights into the growing importance <span
                  >of cybersecurity</span
                >
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
                In a world where cyberattacks are becoming more sophisticated,
                your business deserves the best protection. Our expert team
                leverages cutting-edge technology.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Who We Are Counters Start -->
            <div class="who-we-are-counters">
              <!-- Who We Counters Item Start -->
              <div class="who-we-counter-item">
                <h2><span class="counter">99.9</span>%</h2>
                <p>
                  Our advanced solution ensure nearly perfect protection against
                  malware, ransomware, other cyber attacks.
                </p>
              </div>
              <!-- Who We Counters Item End -->

              <!-- Who We Counters Item Start -->
              <div class="who-we-counter-item">
                <h2><span class="counter">500</span>+</h2>
                <p>
                  Over the year, we've secured more than 500 businesses across
                  various industries, ensuring their data.
                </p>
              </div>
              <!-- Who We Counters Item End -->
            </div>
            <!-- Who We Are Counters End -->
          </div>
          <!-- Who We Are Counter End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Who We Are Section End -->

  <!-- Our Specialties Section Start -->
  <div class="our-specialties">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Our Specialties Content Start -->
          <div class="our-specialties-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">our specialties</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Trusted experts committed to securing <span>your digital</span>
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
                In a world where cyberattacks are becoming more sophisticated,
                your business deserves the best protection. Our expert team
                leverages cutting-edge technology.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Our Specialties Button Start -->
            <div class="our-specialties-btn wow fadeInUp" data-wow-delay="0.6s">
              <a href="contact.html" class="btn-default">contact now</a>
            </div>
            <!-- Our Specialties Button End -->
          </div>
          <!-- Our Specialties Content End -->
        </div>

        <div class="col-lg-6">
          <!-- Specialties Item Box Start -->
          <div class="specialties-item-box">
            <!-- Specialties Item Start -->
            <div class="specialties-item wow fadeInUp">
              <div class="icon-box">
                <img src="/assets/images/icon-specialties-item-1.svg" alt="" />
              </div>
              <div class="specialties-item-content">
                <h3>24/7 Threat Monitoring</h3>
                <p>
                  Our dedicated team ensures round-the-clock monitoring to
                  detect.
                </p>
              </div>
            </div>
            <!-- Specialties Item End -->

            <!-- Specialties Item Start -->
            <div class="specialties-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box">
                <img src="/assets/images/icon-specialties-item-2.svg" alt="" />
              </div>
              <div class="specialties-item-content">
                <h3>End-to-End Security</h3>
                <p>From initial risk assessments to ongoing protection.</p>
              </div>
            </div>
            <!-- Specialties Item End -->

            <!-- Specialties Item Start -->
            <div class="specialties-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-box">
                <img src="/assets/images/icon-specialties-item-3.svg" alt="" />
              </div>
              <div class="specialties-item-content">
                <h3>Cutting-Edge Technology</h3>
                <p>
                  We utilize the latest tools and AI-driven systems to stay.
                </p>
              </div>
            </div>
            <!-- Specialties Item End -->

            <!-- Specialties Item Start -->
            <div class="specialties-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon-box">
                <img src="/assets/images/icon-specialties-item-4.svg" alt="" />
              </div>
              <div class="specialties-item-content">
                <h3>Expertise You Can Trust</h3>
                <p>
                  Our team of certified experts delivers industry-leading
                  solutions.
                </p>
              </div>
            </div>
            <!-- Specialties Item End -->
          </div>
        </div>

        <div class="col-lg-12">
          <!-- Intro Video Box Start -->
          <div class="intro-video-box">
            <div class="intro-bg-image">
              <figure class="image-anime reveal">
                <img src="/assets/images/intro-bg-image.jpg" alt="" />
              </figure>
            </div>
            <!-- Video Play Button Start -->
            <div class="video-play-button">
              <a
                href="https://www.youtube.com/watch?v=Y-x0efG1seA"
                class="popup-video"
                data-cursor-text="Play"
              >
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <!-- Video Play Button End -->
          </div>
          <!-- Intro Video Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Specialties Section End -->

  <!-- Our Team Section Start -->
  <div class="our-team">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-6">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">our team</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              Our team turning challenges into <span>secure solutions</span>
            </h2>
          </div>
          <!-- Section Title End -->
        </div>

        <div class="col-lg-6">
          <!-- Section Button Start -->
          <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
            <a href="team.html" class="btn-default">view all member</a>
          </div>
          <!-- Section Button End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Team Member Item Start -->
          <div class="team-item wow fadeInUp">
            <!-- team Image Start -->
            <div class="team-image">
              <a href="team-single.html" class="image-anime">
                <figure>
                  <img src="/assets/images/team-1.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- team Image End -->

            <!-- Team Body Start -->
            <div class="team-body">
              <!-- Team Content Start -->
              <div class="team-content">
                <h3><a href="team-single.html">Darrell steward</a></h3>
                <p>Hacking specialist</p>
              </div>
              <!-- Team Content End -->

              <!-- Team Social List Start -->
              <div class="team-social-list">
                <ul>
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
              <!-- Team Social List End -->
            </div>
            <!-- Team Body End -->
          </div>
          <!-- Team Member Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Team Member Item Start -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
            <!-- team Image Start -->
            <div class="team-image">
              <a href="team-single.html" class="image-anime">
                <figure>
                  <img src="/assets/images/team-2.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- team Image End -->

            <!-- Team Body Start -->
            <div class="team-body">
              <!-- Team Content Start -->
              <div class="team-content">
                <h3><a href="team-single.html">Albert flores</a></h3>
                <p>Attack specialist</p>
              </div>
              <!-- Team Content End -->

              <!-- Team Social List Start -->
              <div class="team-social-list">
                <ul>
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
              <!-- Team Social List End -->
            </div>
            <!-- Team Body End -->
          </div>
          <!-- Team Member Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Team Member Item Start -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
            <!-- team Image Start -->
            <div class="team-image">
              <a href="team-single.html" class="image-anime">
                <figure>
                  <img src="/assets/images/team-3.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- team Image End -->

            <!-- Team Body Start -->
            <div class="team-body">
              <!-- Team Content Start -->
              <div class="team-content">
                <h3><a href="team-single.html">Jacob jones</a></h3>
                <p>Operation manager</p>
              </div>
              <!-- Team Content End -->

              <!-- Team Social List Start -->
              <div class="team-social-list">
                <ul>
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
              <!-- Team Social List End -->
            </div>
            <!-- Team Body End -->
          </div>
          <!-- Team Member Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Team Member Item Start -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
            <!-- team Image Start -->
            <div class="team-image">
              <a href="team-single.html" class="image-anime">
                <figure>
                  <img src="/assets/images/team-4.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- team Image End -->

            <!-- Team Body Start -->
            <div class="team-body">
              <!-- Team Content Start -->
              <div class="team-content">
                <h3><a href="team-single.html">Ronald richards</a></h3>
                <p>Hacking specialist</p>
              </div>
              <!-- Team Content End -->

              <!-- Team Social List Start -->
              <div class="team-social-list">
                <ul>
                  <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
              <!-- Team Social List End -->
            </div>
            <!-- Team Body End -->
          </div>
          <!-- Team Member Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Team Section End -->

  <!-- Our Success Section Start -->
  <div class="our-success">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Our Success Content Start -->
          <div class="our-success-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Our Core values</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Our core values the pillars of <span>our success</span>
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
                In a world where cyberattacks are becoming more sophisticated,
                your business deserves the best protection. Our expert team
                leverages cutting-edge technology.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Success Item List Start -->
            <div class="success-item-list">
              <!-- Success Item Start -->
              <div class="success-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="icon-box">
                  <img src="/assets/images/icon-success-item-1.svg" alt="" />
                </div>
                <div class="success-item-content">
                  <h3>Integrity and Transparency</h3>
                  <p>
                    We believe in honesty and openness, ensuring our clients
                    receive reliable and trustworthy solutions.
                  </p>
                </div>
              </div>
              <!-- Success Item End -->

              <!-- Success Item Start -->
              <div class="success-item wow fadeInUp" data-wow-delay="0.8s">
                <div class="icon-box">
                  <img src="/assets/images/icon-success-item-2.svg" alt="" />
                </div>
                <div class="success-item-content">
                  <h3>Innovation at the Core</h3>
                  <p>
                    By embracing the latest technologies and trends, we stay
                    ahead of emerging threats to deliver.
                  </p>
                </div>
              </div>
              <!-- Success Item End -->

              <!-- Success Item Start -->
              <div class="success-item wow fadeInUp" data-wow-delay="1s">
                <div class="icon-box">
                  <img src="/assets/images/icon-success-item-3.svg" alt="" />
                </div>
                <div class="success-item-content">
                  <h3>Commitment to Excellence</h3>
                  <p>
                    Our dedication to delivering superior results drives us to
                    exceed expectations and set new standards.
                  </p>
                </div>
              </div>
              <!-- Success Item End -->
            </div>
            <!-- Success Item List End -->
          </div>
          <!-- Our Success Content End -->
        </div>

        <div class="col-lg-6">
          <!-- Our Success Images Start -->
          <div class="our-success-iamges">
            <!-- Success image 1 Start -->
            <div class="success-img-1">
              <figure class="image-anime reveal">
                <img src="/assets/images/success-img-1.jpg" alt="" />
              </figure>
            </div>
            <!-- Success image 1 End -->

            <!-- Success image 2 Start -->
            <div class="success-img-2">
              <figure class="image-anime reveal">
                <img src="/assets/images/success-img-2.jpg" alt="" />
              </figure>
            </div>
            <!-- Success image 2 End -->
          </div>
          <!-- Our Success Images End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Success Section End -->

  <!-- Our Partners Section Start -->
  <div class="our-partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Our Partners Box Start -->
          <div class="our-partners-box">
            <!-- Our Partners Content Start -->
            <div class="our-partners-content">
              <!-- Section Title Start -->
              <div class="section-title">
                <h3 class="wow fadeInUp">Our partners</h3>
                <h2
                  class="wow fadeInUp"
                  data-wow-delay="0.2s"
                  data-cursor="-opaque"
                >
                  Our partners working together to defend the <span
                    >digital world</span
                  >
                </h2>
              </div>
              <!-- Section Title End -->
            </div>
            <!-- Our Partners Content End -->

            <!-- Our Partners Slider Start -->
            <div class="our-partners-slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-1.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-2.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-3.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-4.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-1.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-2.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-3.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->

                  <!-- Company Logo Start -->
                  <div class="swiper-slide">
                    <div class="partner-logo">
                      <img src="/assets/images/company-logo-4.svg" alt="" />
                    </div>
                  </div>
                  <!-- Company Logo End -->
                </div>
              </div>
            </div>
            <!-- Our Partners Slider End -->
          </div>
          <!-- Our Partners Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Partners Section End -->

  <!-- Our Testimonial Section Start -->
  <div class="our-testimonial">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-6">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">our testimonials</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              Our clients speak real results <span>real protection</span>
            </h2>
          </div>
          <!-- Section Title End -->
        </div>

        <div class="col-lg-6">
          <!-- Customer Review Box Start -->
          <div class="customer-review-box testimonial-customer-box">
            <!-- Customer Review Images Start -->
            <div class="customer-review-images">
              <!-- Customer Image Start -->
              <div class="customer-image reveal">
                <figure class="image-anime">
                  <img src="/assets/images/author-1.jpg" alt="" />
                </figure>
              </div>
              <!-- Customer Image End -->

              <!-- Customer Image Start -->
              <div class="customer-image reveal">
                <figure class="image-anime">
                  <img src="/assets/images/author-2.jpg" alt="" />
                </figure>
              </div>
              <!-- Customer Image End -->

              <!-- Customer Image Start -->
              <div class="customer-image reveal">
                <figure class="image-anime">
                  <img src="/assets/images/author-3.jpg" alt="" />
                </figure>
              </div>
              <!-- Customer Image End -->
            </div>
            <!-- Customer Review Images End -->

            <!-- Customer Review Box Content Start -->
            <div class="customer-review-content">
              <p>More Than 1K+ trusted customers</p>
            </div>
            <!-- Customer Review Box Content End -->
          </div>
          <!-- Customer Review Box End -->
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-4">
          <!-- Testimonial Review Box Start -->
          <div class="testimonial-review-box">
            <!-- Testimonial Review Header Start -->
            <div class="testimonial-review-header">
              <h2><span class="counter">4.9</span></h2>
              <div class="testimonial-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p>(<span class="counter">40</span>+ Reviews)</p>
            </div>
            <!-- Testimonial Review Header End -->

            <!-- Testimonial Review Image Start -->
            <div class="customer-review-images">
              <div class="customer-image">
                <figure class="image-anime reveal">
                  <img src="/assets/images/author-1.jpg" alt="" />
                </figure>
              </div>
              <div class="customer-image">
                <figure class="image-anime reveal">
                  <img src="/assets/images/author-2.jpg" alt="" />
                </figure>
              </div>
              <div class="customer-image">
                <figure class="image-anime reveal">
                  <img src="/assets/images/author-3.jpg" alt="" />
                </figure>
              </div>
              <div class="customer-image">
                <figure class="image-anime reveal">
                  <img src="/assets/images/author-4.jpg" alt="" />
                </figure>
              </div>
              <div class="customer-image">
                <figure class="image-anime reveal">
                  <img src="/assets/images/author-5.jpg" alt="" />
                </figure>
              </div>
            </div>
            <!-- Testimonial Review Image End -->

            <!-- Testimonial Review Content Start -->
            <div class="testimonial-review-content wow fadeInUp">
              <h3>Customer experiences that speak for themselves</h3>
            </div>
            <!-- Testimonial Review Content End -->
          </div>
          <!-- Testimonial Review Box End -->
        </div>

        <div class="col-lg-8">
          <!-- Testimonial Slider Start -->
          <div class="testimonial-slider">
            <div class="swiper">
              <div class="swiper-wrapper" data-cursor-text="Drag">
                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-company-logo">
                      <img
                        src="/assets/images/icon-testimonial-logo.svg"
                        alt=""
                      />
                    </div>
                    <div class="testimonial-content">
                      <p>
                        The team transformed our brand's online presence with
                        creativity & precision. The results exceeded our
                        expectations! Their digital marketing strategies helped
                        us reach a broader audience & significantly boosted our
                        sales.
                      </p>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="/assets/images/author-1.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>Sarah Mitchell</h3>
                        <p>Marketing Director</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->

                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-company-logo">
                      <img
                        src="/assets/images/icon-testimonial-logo.svg"
                        alt=""
                      />
                    </div>
                    <div class="testimonial-content">
                      <p>
                        The team transformed our brand's online presence with
                        creativity & precision. The results exceeded our
                        expectations! Their digital marketing strategies helped
                        us reach a broader audience & significantly boosted our
                        sales.
                      </p>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="/assets/images/author-2.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>Ronald richards</h3>
                        <p>finance manager</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->
              </div>
              <div class="testimonial-btn">
                <div class="testimonial-button-prev"></div>
                <div class="testimonial-button-next"></div>
              </div>
            </div>
          </div>
          <!-- Testimonial Slider End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Testimonial Section End -->

  <!-- Our Faqs Section Start -->
  <div class="our-faqs">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Faqs Content Start -->
          <div class="faqs-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Frequently Asked Questions</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Your complete FAQ guide to <span> cybersecurity solutions</span>
              </h2>
            </div>
            <!-- Section Title End -->

            <!-- Faqs Contact Box Start -->
            <div class="faqs-contact-box">
              <!-- Faqs Contact Item Start -->
              <div class="faqs-contact-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon-box">
                  <img src="/assets/images/sidebar-cta-img.svg" alt="" />
                </div>
                <div class="faqs-contact-item-content">
                  <h3>24/7 Customer Care</h3>
                  <p><a href="tel:659888695">(+1) 659-888-695</a></p>
                </div>
              </div>
              <!-- Faqs Contact Item End -->

              <!-- Faqs Contact Item Start -->
              <div class="faqs-contact-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="icon-box">
                  <img src="/assets/images/icon-mail.svg" alt="" />
                </div>
                <div class="faqs-contact-item-content">
                  <h3>Technical Issues</h3>
                  <p>
                    <a href="mailto:info@domainname.com">info@domainname.com</a>
                  </p>
                </div>
              </div>
              <!-- Faqs Contact Item End -->
            </div>
            <!-- Faqs Contact Box End -->

            <!-- Faqs Image Start -->
            <div class="faqs-image">
              <figure class="image-anime reveal">
                <img src="/assets/images/faqs-image.jpg" alt="" />
              </figure>
            </div>
            <!-- Faqs Image End -->
          </div>
          <!-- Faqs Content End -->
        </div>

        <div class="col-lg-6">
          <!-- FAQ Accordion Start -->
          <div class="faq-accordion" id="faqaccordion">
            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp">
              <h2 class="accordion-header" id="heading1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="true"
                  aria-controls="collapse1"
                >
                  What is cybersecurity, and why is it important?
                </button>
              </h2>
              <div
                id="collapse1"
                class="accordion-collapse collapse"
                aria-labelledby="heading1"
                data-bs-parent="#faqaccordion"
              >
                <div class="accordion-body">
                  <p>
                    Absolutely! Small businesses are often targeted by
                    cybercriminals because they typically have fewer defenses.
                    Investing in cybersecurity helps protect your operations,
                    data.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
              <h2 class="accordion-header" id="heading2">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapse2"
                >
                  Do small businesses need cybersecurity?
                </button>
              </h2>
              <div
                id="collapse2"
                class="accordion-collapse collapse show"
                aria-labelledby="heading2"
                data-bs-parent="#faqaccordion"
              >
                <div class="accordion-body">
                  <p>
                    Absolutely! Small businesses are often targeted by
                    cybercriminals because they typically have fewer defenses.
                    Investing in cybersecurity helps protect your operations,
                    data.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
              <h2 class="accordion-header" id="heading3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapse3"
                >
                  What is ransomware, and how can I protect?
                </button>
              </h2>
              <div
                id="collapse3"
                class="accordion-collapse collapse"
                aria-labelledby="heading3"
                data-bs-parent="#faqaccordion"
              >
                <div class="accordion-body">
                  <p>
                    Absolutely! Small businesses are often targeted by
                    cybercriminals because they typically have fewer defenses.
                    Investing in cybersecurity helps protect your operations,
                    data.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
              <h2 class="accordion-header" id="heading4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse4"
                  aria-expanded="false"
                  aria-controls="collapse4"
                >
                  How do I know if my business has been hacked?
                </button>
              </h2>
              <div
                id="collapse4"
                class="accordion-collapse collapse"
                aria-labelledby="heading4"
                data-bs-parent="#faqaccordion"
              >
                <div class="accordion-body">
                  <p>
                    Absolutely! Small businesses are often targeted by
                    cybercriminals because they typically have fewer defenses.
                    Investing in cybersecurity helps protect your operations,
                    data.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
              <h2 class="accordion-header" id="heading5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapse5"
                >
                  How often should I update my cybersecurity?
                </button>
              </h2>
              <div
                id="collapse5"
                class="accordion-collapse collapse"
                aria-labelledby="heading5"
                data-bs-parent="#faqaccordion"
              >
                <div class="accordion-body">
                  <p>
                    Absolutely! Small businesses are often targeted by
                    cybercriminals because they typically have fewer defenses.
                    Investing in cybersecurity helps protect your operations,
                    data.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->
          </div>
          <!-- FAQ Accordion End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Faqs Section End -->

  <!-- Scrolling Ticker Section Start -->
  <div class="our-scrolling-ticker footer-scrolling-ticker">
    <!-- Scrolling Ticker Start -->
    <div class="scrolling-ticker-box">
      <div class="scrolling-content">
        <span><a href="contact.html">Work together Work Together</a></span>
        <span><a href="contact.html">Work together Work Together</a></span>
      </div>

      <div class="scrolling-content">
        <span><a href="contact.html">Work together Work Together</a></span>
        <span><a href="contact.html">Work together Work Together</a></span>
      </div>
    </div>
    <!-- Scrolling Ticker End -->
  </div>
  <!-- Scrolling Ticker Section End -->
</Layout>
