---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header">
    <!-- Grid Lines Start -->
    <div class="grid-lines">
      <div class="grid-line-1"></div>
      <div class="grid-line-2"></div>
      <div class="grid-line-3"></div>
      <div class="grid-line-4"></div>
      <div class="grid-line-5"></div>
    </div>
    <!-- Grid Lines End -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="wow fadeInUp" data-cursor="-opaque">
              Expert <span>Cloud Solutions</span>
            </h1>
            <nav class="wow fadeInUp" data-wow-delay="0.2s">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">home</a></li>
               					<li class="breadcrumb-item"><a href="/services">Services</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Cybersecurity
                </li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Who We Are Section Start -->
  <div class="who-we-are py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Who We Are Images Start -->
          <div class="who-we-are-images">
            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <!-- Customer Review Box Start -->
              <div class="customer-review-box">
                <!-- Customer Review Images Start -->

                <!-- Customer Review Images End -->

                <!-- Customer Review Box Content Start -->
                <div class="customer-review-content">
                  <p>
                    <span class="counter">90</span>% Innovative. Secure.
                    Reliable.
                  </p>
                </div>
                <!-- Customer Review Box Content End -->
              </div>
              <!-- Customer Review Box End -->

              <!-- Who We Are Image Start -->
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="../assets/images/girl_cybersecurity.avif" alt="" />
                </figure>
              </div>
              <!-- Who We Are Image End -->
            </div>
            <!-- Who We image Box End -->

            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="/assets/images/who-we-are-img-2.jpg" alt="" />
                </figure>
              </div>
            </div>
            <!-- Who We image Box End -->

            <!-- Readmore Image Crcle Start -->
            <div class="readmore-img-circle">
              <a href="/contactus">
                <img src="/assets/images/readmore-img-circle.svg" alt="" />
              </a>
            </div>
            <!-- Readmore Image Crcle End -->
          </div>
          <!-- Who We Are Images End -->
        </div>

        <div class="col-lg-6">
          <!-- Who We Are Counter Start -->
          <div class="who-we-are-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">
                Why Cybersecurity Matters—Beyond the Basics
              </h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Transform your business with secure, scalable, and efficient <span
                  >Cloud Services</span
                >
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
                Cybersecurity is more crucial than ever—not just to stop
                hackers, but to enable safe growth and innovation. Today’s
                threats are powered by AI, making attacks smarter and harder to
                detect. As businesses rely on complex supply chains and remote
                work, their attack surfaces expand, and a single weak link can
                put the entire organization at risk.
              </p>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
                Cyber resilience has become a true business differentiator,
                building trust and ensuring continuity even when incidents
                occur. Navigating a maze of global regulations and geopolitical
                risks adds further complexity, while a persistent shortage of
                skilled professionals leaves many organizations exposed.
              </p>
            </div>
            <!-- Section Title End -->
          </div>
          <!-- Who We Are Counter End -->
        </div>
      </div>
    </div>

    <!-- Our Features Section Start -->
    <div class="our-features py-5">
      <div class="container">
        <div class="row section-row align-items-center">
          <div class="col-lg-6">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Our Features</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Protect your business with our comprehensive<span>
                  Cybersecurity Solutions</span
                >
              </h2>
            </div>
            <!-- Section Title End -->
          </div>

          <div class="col-lg-6">
            <!-- Section Title Content Start -->
            <div
              class="section-title-content wow fadeInUp"
              data-wow-delay="0.4s"
            >
              <p>
                Our team delivers proactive defense, rapid response, and ongoing
                support to keep your data, systems, and reputation secure.
              </p>
            </div>
            <!-- Section Title Content End -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-1.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Cloud Migration</h3>
                <p>
                  Our experts perform detailed readiness assessments and utilize
                  proven frameworks to ensure your migration is seamless,
                  cost-effective, and aligned with your business goals.
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box">
                <img src="/assets/images/cloud-management.png" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Multi-Cloud Management</h3>
                <p>
                  We utilize industry-standard frameworks and tools to simulate
                  real-world attacks, providing you with a prioritized action
                  plan to fortify your defenses
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-3.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Data Recovery and Backup Solutions</h3>
                <p>
                  We leverage modern backup strategies, including incremental
                  backups and geo-redundant storage, to provide maximum data
                  protection with minimal recovery times.
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-4.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Cloud Security & Compliance</h3>
                <p>
                  We deliver robust cloud security and compliance by integrating
                  advanced encryption and granular IAM roles—ensuring your
                  sensitive data is protected and only the right people have
                  access at all times.
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Our Features Section End -->

    <!-- Page Case Study Single Start -->
    <div class="page-case-study-single">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <!-- Page Single Sidebar Start -->
            <img src="../../public/assets/images/team-2.jpg" alt="" />
            <!-- Page Single Sidebar End -->
          </div>

          <div class="col-lg-7">
            <!-- Case Study Content Start -->
            <div class="case-study-single-content">
              <!-- Case Study Entry Start -->
              <div class="case-study-entry">
                <!-- Case Study Solution Box Start -->
                <div class="case-study-solution-box">
                  <h2 class="wow fadeInUp" data-wow-delay="0.4s">
                    Our Approaches To <br />
                    <span>Digital Threats</span>
                  </h2>
                  <p class="wow fadeInUp" data-wow-delay="0.6s">
                    Our approach to digital threats combines proactive
                    intelligence, adaptive defense, and rapid response to
                    safeguard your organization against evolving cyber risks. We
                    prioritize prevention, resilience, and continuous
                    improvement in every solution we deliver.
                  </p>

                  <!-- Case Study Solution List Start -->
                  <div class="case-study-solution-list">
                    <!-- Case Study Solution Item Start -->
                    <div class="case-study-solution-item">
                      <ul class="wow fadeInUp" data-wow-delay="0.4s">
                        <li>AI-driven threat detection and response</li>
                        <li>Tailored security for cloud and endpoints</li>
                        <li>24/7 monitoring with expert intervention</li>
                      </ul>
                    </div>
                    <!-- Case Study Solution Item End -->
                  </div>
                  <!-- Case Study Solution List End -->
                </div>
                <!-- Case Study Solution Box End -->
              </div>
              <!-- Case Study Entry End -->
            </div>
            <!-- Case Study Content End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page Case Study Single End -->


   <div class="our-partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Our Partners Box Start -->
                    <div class="our-partners-box">
                        <!-- Our Partners Content Start -->
                        <div class="our-partners-content">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Our partners</h3>
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"> business continuity, cybersecurity and  <span>productivity in one place!</span></h2>
                              
                            </div>
                             <p class="wow fadeInUp" data-wow-delay="0.6s">
                    Our approach to digital threats combines proactive
                    intelligence, adaptive defense, and rapid response to
                    safeguard your organization against evolving cyber risks. We
                    prioritize prevention, resilience, and continuous
                    improvement in every solution we deliver.
                  </p>
                            <!-- Section Title End -->
                        </div>
                        <!-- Our Partners Content End -->
                        
                        <!-- Our Partners Slider Start -->
                        <div class="our-partners-slider">
                            <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                                <div class="swiper-wrapper" id="swiper-wrapper-742d53d6ca9bed92" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-358.069px, 0px, 0px); transition-delay: 1ms;">
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
        
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
        
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
                                    
                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide" role="group" aria-label="4 / 8" data-swiper-slide-index="3" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/azure-logo.png" alt="">
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->
                                    
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
                                    
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
        
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
        
                                    <!-- Company Logo Start -->
                                    
                                    <!-- Company Logo End -->
                                <div class="swiper-slide" role="group" aria-label="5 / 8" data-swiper-slide-index="4" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/microsoft-365.png" alt="">
                                        </div>
                                    </div><div class="swiper-slide" role="group" aria-label="6 / 8" data-swiper-slide-index="5" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/paloalto.png" alt="">
                                        </div>
                                    </div><div class="swiper-slide swiper-slide-prev" role="group" aria-label="7 / 8" data-swiper-slide-index="6" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/aws.png" alt="">
                                        </div>
                                    </div><div class="swiper-slide swiper-slide-active" role="group" aria-label="8 / 8" data-swiper-slide-index="7" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/cisco.png" alt="">
                                        </div>
                                    </div><div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 8" data-swiper-slide-index="0" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/meraki.png" alt="">
                                        </div>
                                    </div><div class="swiper-slide" role="group" aria-label="2 / 8" data-swiper-slide-index="1" style="width: 193.793px; margin-right: 30px;">
                                        <div class="partner-logo">
                                            <img src="./assets/images/vendors-logo/googlecloud.png" alt="">
                                        </div>
                                    </div>                                   
                                </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                        <!-- Our Partners Slider End -->
                    </div>
                    <!-- Our Partners Box End -->
                </div>
            </div>           
        </div>
    </div>


    <div class="container py-5">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <!-- Case Study Content Start -->
          <div class="case-study-single-content">
            <!-- Case Study Entry Start -->
            <div class="case-study-entry">
              <!-- Case Study Solution Item Start -->
              <div class="case-study-solution-box">
                <h2 class="wow fadeInUp" data-wow-delay="0.4s">
                  Combine business continuity, cybersecurity and <br />
                  <span>productivity in one place!</span>
                </h2>

                <p class="wow fadeInUp" data-wow-delay="0.2s">
                  Ensures your systems are protected against evolving cyber
                  threats with adaptive security measures. Supports seamless
                  integration of new technologies to maintain long-term
                  operational agility. Provides continuous updates and proactive
                  risk management to address emerging vulnerabilities.
                </p>

                <!-- Solution Item List Start -->
                <div class="solution-item-list">
                  <!-- Solution Item Start -->
                  <div class="solution-item wow fadeInUp" data-wow-delay="0.4s">
                    <p>Global Availability At Scale</p>
                  </div>
                  <!-- Solution Item End -->
                  <div class="solution-item wow fadeInUp" data-wow-delay="0.4s">
                    <p>Email Delivery You Can Count On</p>
                  </div>
                  <!-- Solution Item End -->
                  <div class="solution-item wow fadeInUp" data-wow-delay="0.4s">
                    <p>Anomaly And Bot Defense</p>
                  </div>
                  <!-- Solution Item End -->
                  <div class="solution-item wow fadeInUp" data-wow-delay="0.4s">
                    <p>Advanced Compliance & Reporting</p>
                  </div>
                  <!-- Solution Item End -->
                  <!-- Solution Item End -->
                </div>
                <!-- Solution Item List End -->
              </div>
              <!-- Case Study Solution Item End -->
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- CTA Box Start -->
    <div class="cta-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- CTA Box Content Start -->
            <div class="cta-box-content">
              <!-- Section Title Start -->
              <div class="section-title">
                <h2
                  class="wow fadeInUp"
                  data-wow-delay="0.2s"
                  data-cursor="-opaque"
                >
                  24/7 Cyber Security <span>Operation Center</span>
                </h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                  Want to learn more about our services or need immediate
                  assistance? Connect with us
                </p>
              </div>
              <!-- Section Title End -->

              <!-- CTA Box List Start -->
              <div class="cta-box-list wow fadeInUp" data-wow-delay="0.6s">
                <ul>
                  <li>Cloud CDN & Global Content Delivery</li>
                  <li>Cloud DNS & Domain Management</li>
                  <li>Cloud Intrusion Detection & Threat Monitoring</li>
                  <li>Direct Cloud Interconnect & VPN</li>
                  <li>Cloud Load Balancing & Auto-Scaling</li>
                  <li>Serverless Function Deployment</li>
                  <li>Cloud Identity Federation & SSO</li>
                  <li>Cloud Cost Analytics & Optimization</li>
                  <li>Infrastructure as a Code (IaC)</li>
                </ul>
              </div>
              <!-- CTA Box List End -->

              <!-- Newsletter Form start -->
              <div class="subscribe-form wow fadeInUp" data-wow-delay="0.8s">
                <button type="submit" class="btn-default">Contact Us</button>
              </div>
              <!-- Newsletter Form end -->
            </div>
            <!-- CTA Box Content End -->
          </div>
        </div>
      </div>
    </div>
    <!-- CTA Box End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker footer-scrolling-ticker">
      <!-- Scrolling Ticker Start -->
      <div class="scrolling-ticker-box">
        <div class="scrolling-content">
          <span><a href="contact.html">Work together Work Together</a></span>
          <span><a href="contact.html">Work together Work Together</a></span>
        </div>

        <div class="scrolling-content">
          <span><a href="contact.html">Work together Work Together</a></span>
          <span><a href="contact.html">Work together Work Together</a></span>
        </div>
      </div>
      <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->
  </div>
  </Layout>
