---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header">
    <!-- Grid Lines Start -->
    <div class="grid-lines">
      <div class="grid-line-1"></div>
      <div class="grid-line-2"></div>
      <div class="grid-line-3"></div>
      <div class="grid-line-4"></div>
      <div class="grid-line-5"></div>
    </div>
    <!-- Grid Lines End -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="wow fadeInUp" data-cursor="-opaque">
              Expert <span>Networking Solutions</span>
            </h1>
            <nav class="wow fadeInUp" data-wow-delay="0.2s">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">home</a></li>
                   <li class="breadcrumb-item active" aria-current="page">
                  Networking Solutions
                </li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Who We Are Section Start -->
  <div class="who-we-are py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Who We Are Images Start -->
          <div class="who-we-are-images">
            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <!-- Customer Review Box Start -->
              <div class="customer-review-box">
                <!-- Customer Review Images Start -->

                <!-- Customer Review Images End -->

                <!-- Customer Review Box Content Start -->
               
                <!-- Customer Review Box Content End -->
              </div>
              <!-- Customer Review Box End -->

              <!-- Who We Are Image Start -->
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="../assets/images/networking_cyberarch.jpg" alt="" />
                </figure>
              </div>
              <!-- Who We Are Image End -->
            </div>
            <!-- Who We image Box End -->

            <!-- Who We image Box Start -->
            <div class="who-we-img-box">
              <div class="who-we-are-img">
                <figure class="image-anime reveal">
                  <img src="/assets/images/who-we-are-img-2.jpg" alt="" />
                </figure>
              </div>
            </div>
            <!-- Who We image Box End -->

            <!-- Readmore Image Crcle Start -->
            <div class="readmore-img-circle">
              <a href="/contactus">
                <img src="/assets/images/readmore-img-circle.svg" alt="" />
              </a>
            </div>
            <!-- Readmore Image Crcle End -->
          </div>
          <!-- Who We Are Images End -->
        </div>

        <div class="col-lg-6">
          <!-- Who We Are Counter Start -->
          <div class="who-we-are-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">
                Modern Networking
              </h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Build reliable, high-performance <span
                  >network infrastructures with our expertise</span
                >
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
             A resilient and high-performing network is the cornerstone of every thriving organization. Strong network infrastructure not only enables seamless communication and collaboration but also drives efficiency, security, and business growth. 
              </p>
              <p class="wow fadeInUp" data-wow-delay="0.4s">
               Our specialists blend advanced networking know-how with cyber architecture experience, ensuring your company stays connected, secure, and competitive in today’s digital era.

By trusting us to build and manage your network, you empower your business to embrace innovation, optimize operations, and adapt confidently to technological changes.
              </p>
            </div>
            <!-- Section Title End -->
          </div>
          <!-- Who We Are Counter End -->
        </div>
      </div>
    </div>

    <!-- Our Features Section Start -->
    <div class="our-features py-5">
      <div class="container">
        <div class="row section-row align-items-center">
          <div class="col-lg-6">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Our Features</h3>
              <h2
                class="wow fadeInUp"
                data-wow-delay="0.2s"
                data-cursor="-opaque"
              >
                Comprehensive Networking Services for Modern Businesses</span
                >
              </h2>
            </div>
            <!-- Section Title End -->
          </div>

          <div class="col-lg-6">
            <!-- Section Title Content Start -->
            <div
              class="section-title-content wow fadeInUp"
              data-wow-delay="0.4s"
            >
              <p>
               Our expert team builds secure, scalable, and high-performance network infrastructures, ensuring stable connectivity, robust security, and efficient remote access to support your business’s evolving IT needs and growt
              </p>
            </div>
            <!-- Section Title Content End -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-1.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Firewall Management</h3>
                <p>
                  We deploy and manage enterprise-grade firewalls, optimizing
                  them to adapt to emerging threats
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box">
                <img src="/assets/images/cloud-management.png" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Network Cabling Services</h3>
                <p>
                  We deliver structured cabling solutions optimized for your
                  current and future connectivity needs
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-3.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Network Devices Setup</h3>
                <p>
                  Our team ensures optimal performance and security by
                  customizing device configurations to align with your business
                  goals.
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Features Item Start -->
            <div class="features-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon-box">
                <img src="/assets/images/icon-features-item-4.svg" alt="" />
              </div>
              <div class="features-item-content">
                <h3>Network Design and Implementation</h3>
                <p>
                  From LAN/WAN design to software-defined networking, we create
                  future-proof solutions tailored to your scalability needs.
                </p>
              </div>
            </div>
            <!-- Features Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Our Features Section End -->

    <!-- CTA Box Start -->
    <div class="cta-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- CTA Box Content Start -->
            <div class="cta-box-content">
              <!-- Section Title Start -->
              <div class="section-title">
                <h2
                  class="wow fadeInUp"
                  data-wow-delay="0.2s"
                  data-cursor="-opaque"
                >
                  Industries Benefiting from <span>Modern Networking</span>
                </h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                  Empower your business with a network infrastructure that is
                  secure, agile, and ready for the future. Unlock the power of
                  modern networking to drive performance, innovation, and
                  growth.
                </p>
              </div>
              <!-- Section Title End -->

              <!-- CTA Box List Start -->
              <div class="cta-box-list wow fadeInUp" data-wow-delay="0.6s">
                <ul>
                  <li>Finance &amp; Banking</li>
                  <li>Healthcare</li>
                  <li>Manufacturing &amp; Industry 4.0</li>
                  <li>Public Sector &amp; Education</li>
                  <li>Retail &amp; E-Commerce</li>
                </ul>
              </div>
              <!-- CTA Box List End -->

              <!-- Newsletter Form start -->
              <div class="subscribe-form wow fadeInUp" data-wow-delay="0.8s">
                <button type="submit" class="btn-default"> <a class="text-white" href="/contactus"> Contact Us </a></button>
              </div>
              <!-- Newsletter Form end -->
            </div>
            <!-- CTA Box Content End -->
          </div>
        </div>
      </div>
    </div>
    <!-- CTA Box End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker footer-scrolling-ticker">
      <!-- Scrolling Ticker Start -->
      <div class="scrolling-ticker-box">
        <div class="scrolling-content">
          <span><a href="contact.html">Work together Work Together</a></span>
          <span><a href="contact.html">Work together Work Together</a></span>
        </div>

        <div class="scrolling-content">
          <span><a href="contact.html">Work together Work Together</a></span>
          <span><a href="contact.html">Work together Work Together</a></span>
        </div>
      </div>
      <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->
  </div></Layout
>
