---

import Layouts from "../layouts/Layout.astro";

import MyServices from "../components/MyServices.astro";
---


<Layouts>

    <div class="py-5">
        <MyServices  showButton={false}/>
    </div>


</Layouts>