---
import Layout from "../layouts/Layout.astro";

const CurrentYear = new Date().getFullYear();
---

<!-- Footer Start -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <!-- About Footer Start -->
        <div class="about-footer">
          <!-- Footer Logo Start -->
          <div class="footer-logo text-center mx-auto">
            <img
              class="w-50"
              src="./assets/images/logo/logo-cyberarch-icon.svg"
              alt="CYBERARCH-ICON"
            />
          </div>
          <!-- Footer Logo End -->

          <!-- About Footer Content Start -->
          <div class="about-footer-content text-center">
            <p>
              Cyberarch was founded with a simple yet powerful mission: to help
              businesses secure their operations, optimize their technology
              stack, and embrace the future confidently.
            </p>
          </div>
          <!-- About Footer Content End -->

          <!-- Footer Social Link Start -->
          <div class="footer-social-links text-center">
            <ul>
               <li>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </li>         
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
             
            </ul>
          </div>
          <!-- Footer Social Link End -->
        </div>
        <!-- About Footer End -->
      </div>

      <div class="col-lg-2 col-md-3">
        <!-- Footer Links Start -->
        <div class="footer-links">
          <h3>quick links</h3>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/aboutus">about us</a></li>
            <li><a href="/faq">Faq</a></li>
          </ul>
        </div>
        <!-- Footer Links End -->
      </div>

      <div class="col-lg-3 col-md-4">
        <!-- Footer Links Start -->
        <div class="footer-links">
          <h3>Our Services</h3>
          <ul>
            <li><a href="service-single.html">Cyber Security</a></li>
            <li><a href="service-single.html">Cloud Solutions</a></li>
            <li><a href="service-single.html">Network Solutions</a></li>
          </ul>
        </div>
        <!-- Footer Links End -->
      </div>

      <div class="col-lg-3 col-md-5">
        <!-- Footer Links Start -->
        <div class="footer-links">
          <h3>Contact Information</h3>
          <!-- Footer Contact Item Start -->
          <div class="footer-contact-item">
            <div class="icon-box">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="footer-contact-content">
              <p>Toronto, Ontario, Canada</p>
            </div>
          </div>
          <!-- Footer Contact Item End -->

          <!-- Footer Contact Item Start -->
          <div class="footer-contact-item">
            <div class="icon-box">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="footer-contact-content">
              <p><a href="tel:+14168455780">+1 416 845 5780</a></p>
            </div>
          </div>
          <!-- Footer Contact Item End -->

          <!-- Footer Contact Item Start -->
          <div class="footer-contact-item">
            <div class="icon-box">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="footer-contact-content">
              <p>
                <a href="mailto:info@cyberarch.ca">info@cyberarch.ca</a>
              </p>
            </div>
          </div>
          <!-- Footer Contact Item End -->
        </div>
        <!-- Footer Links End -->
      </div>

      <div class="col-lg-12">
        <!-- Footer Copyright Start -->
        <div class="footer-copyright-text">
          <p>Copyright © {CurrentYear} All Rights Reserved.</p>
        </div>
        <!-- Footer Copyright End -->
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
