
<!-- Header Start -->
<header class="main-header">
  <div class="header-sticky">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo Start -->
        <a class="navbar-brand" href="./">
          <img
            src="./assets/images/logo/logo-5.png"
            alt="Logo"
            width="350"
          />
        </a>
        <!-- Logo End -->

        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse main-menu">
          <div class="nav-menu-wrapper">
            <ul class="navbar-nav mr-auto" id="menu">
              <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us </a>
              </li>

              <li class="nav-item submenu ">
                <a class="nav-link" href="#">Services</a>
                <ul>             
                  <li class="nav-item">
                    <a class="nav-link" href="/cybersecurity"
                      >Cyber Security Expert Solutions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cloudsolutions"
                      >Cloud Solutions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/networksolutions"
                      >Network Solutions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/faq">Faq</a>
                  </li>
              
               
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
          </div>

          <!-- Header Btn Start -->
          <div class="header-btn">
            <a href="/contactus" class="btn-default">contact us</a>
          </div>
          <!-- Header Btn End -->
        </div>
        <!-- Main Menu End -->
        <div class="navbar-toggle"></div>
      </div>
    </nav>
    <div class="responsive-menu"></div>
  </div>
</header>
<!-- Header End -->
