---
// components/ServiceButtons.astro
const { showButton = false } = Astro.props;
---

<!-- Our Services Section Start -->
<div class="our-services">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-6">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Our services</h3>
          <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
            Comprehensive cybersecurity  <span>services for protection</span
            >
          </h2>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="col-lg-6">
        <!-- Section Title Start -->
        <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
        {showButton && (
  <a href="/services" class="btn-default" >view all services</a>
)}
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp">
          <div class="icon-box">
            <img src="/assets/images/icons/cybersecurity.svg" alt="Cybersecurity" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="/cybersecurity"> Cybersecurity</a>
            </h3>
            <p>
              Cyber defense, cloud solutions, and network management to ensure
              business safety.
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon-box">
            <img src="/assets/images/icons/cloud-security.svg" alt="Cloud Solutions" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="/cloudsolutions">Cloud Solutions</a>
            </h3>
            <p>
              Secure, scalable cloud migration, disaster recovery, and
              serverless solutions to streamline operations and ensure
              reliability
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon-box">
            <img src="/assets/images/icons/network-solutions.svg" alt="Network Solutions" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="service-single.html">Network Solutions</a>
            </h3>
            <p>
              Design and implement secure, scalable networks with seamless
              remote access, firewall management, and network
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
          <div class="icon-box">
            <img src="/assets/images/icons/Data-Encryption.svg" alt="Data Encryption" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="service-single.html">
Data Encryption and Privacy</a>
            </h3>
            <p>
              Prevent ransomware attacks and recover data efficiently with
              advanced protect.
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
          <div class="icon-box">
            <img src="/assets/images/icon-service-5.svg" alt="" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="service-single.html">Cloud Security & Compliance</a>
            </h3>
            <p>
              Prevent ransomware attacks and recover data efficiently with
              advanced protect.
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="1s">
          <div class="icon-box">
            <img src="/assets/images/icon-service-6.svg" alt="" />
          </div>
          <div class="service-item-content">
            <h3>
              <a href="service-single.html">
Incident Response and Management</a>
            </h3>
            <p>
              Prevent ransomware attacks and recover data efficiently with
              advanced protect.
            </p>
          </div>
          <div class="service-btn">
            <a href="service-single.html" class="readmore-btn">read more</a>
          </div>
        </div>
        <!-- Service Item End -->
      </div>
    </div>
  </div>
</div>
<!-- Our Services Section End -->
