---

import MyServices from "./MyServices.astro";

---

<style>
  .faqs-contact-item {
    display: flex;
    align-items: flex-start !important;
  }
</style>


<!-- Hero Section Start -->
<div class="hero">
  <!-- Grid Lines Start -->
  <div class="grid-lines">
    <div class="grid-line-1"></div>
    <div class="grid-line-2"></div>
    <div class="grid-line-3"></div>
    <div class="grid-line-4"></div>
    <div class="grid-line-5"></div>
  </div>
  <!-- Grid Lines End -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <!-- Hero Content Start -->
        <div class="hero-content">
          <!-- Section Title Start -->
          <div class="section-title section-title-center">
            <h3 class="wow fadeInUp">
              Protect your business from cyber threat
            </h3>
            <h1
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              Advanced cybersecurity solutions tailored to <span
                >keep you safe</span
              >
            </h1>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
              In a world where cyberattacks are becoming more sophisticated,
              your business deserves the best protection. Our expert team
              leverages cutting-edge technology.
            </p>
          </div>
          <!-- Section Title End -->

          <!-- Hero Button Start -->
          <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
            <a href="/contactus" class="btn-default btn-highlighted"
              >Get Free Assessment</a
            >
            <a href="/services" class="btn-default">View our services</a>
          </div>
          <!-- Hero Button End -->
        </div>
        <!-- Hero Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->

<!-- About Us Section Start -->
<div class="about-us">
  <div class="container">
    <!-- About us Section Start -->
    <div class="our-facNOImg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <!-- Our Facts Content Start -->
            <div class="our-facts-content">
              <!-- Section Title Start -->
              <div class="section-title">
                <h3 class="wow fadeInUp">About Us</h3>
                <h2
                  class="wow fadeInUp"
                  data-wow-delay="0.2s"
                  data-cursor="-opaque"
                >
                  We provide top-tier cybersecurity services to <span>
                    protect your business</span
                  >
                </h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                  Our team of certified IT security professionals possesses
                  extensive experience in the field, keeping up with the latest
                  threats and best practices.
                </p>
                <p class="wow fadeInUp" data-wow-delay="0.6s">
                  Protect your business from cyber threats with our
                  comprehensive IT security services. Contact us today to
                  discuss your security needs and take the first step towards a
                  safer digital future.
                </p>
              </div>

              <div class="accordion-item-content w-100">
                <ul>
                  <li>Vulnerability Assessment and Penetration Testing</li>
                  <li>Managed Firewall</li>
                  <li>Intrusion Detection/Prevention Systems (IDS/IPS)</li>
                  <li>Endpoint Security</li>
                  <li>Security Awareness Training</li>
                  <li>Cloud Security</li>
                </ul>
              </div>
              <!-- Section Title End -->

              <!-- Our Specialties Button Start -->
              <div
                class="our-facts-btn wow fadeInUp py-4"
                data-wow-delay="0.8s"
              >
                <a href="/aboutus" class="btn-default">learn more</a>
              </div>
              <!-- Our Specialties Button End -->

              <!-- Facts Counter Box Start -->

              <!-- Facts Counter Box End -->
            </div>
            <!-- Our Facts Content End -->
          </div>

          <div class="col-lg-6">
            <!-- Facts Image Box Start -->
            <div class="facts-image-box">
              <!-- Facts Image Start -->
              <div class="facts-image">
                <figure class="image-anime">
                  <img class="img-fluid"
                    src="../assets/images/cyberarch-laptop-girl-engineer.jpg"
                    alt="cyberarch-laptop-girl-engineer
                    "
                  />
                </figure>

                <!-- Award Box Start -->
                <div class="award-box">
                  <h2><span class="counter">240</span>+</h2>
                  <p>Award For Digital Innovation</p>
                </div>
                <!-- Award Box End -->

                <!-- Facts Video Content Start -->
                <div class="facts-video-content">
                  <!-- Video Play Button Start -->
                  <div class="video-play-button">
                    <a
                      href="#"
                      class="popup-video"
                      data-cursor-text="Play"
                    >
                      <i class="fa-solid fa-play"></i>
                    </a>
                  </div>
                  <!-- Video Play Button End -->
                  <h3>Let's See How We Did It</h3>
                </div>
                <!-- Facts Video Content End -->
              </div>
              <!-- Facts Image End -->
            </div>
            <!-- Facts Image Box End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Facts Section End -->

<!-- Our Specialties Section Start -->
<div class="our-specialties">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!-- Our Specialties Content Start -->
        <div class="our-specialties-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">our specialties</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              Empowering Cybersecurity Startups for  <span>Lasting Success</span>
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
           Cyber Arch empowers cybersecurity startups with expert, innovative strategies tailored to accelerate growth and inspire trust. By blending cutting-edge technology with creative branding and robust online solutions, we help build resilient digital identities. Our team ensures clients navigate cyber challenges securely, laying the foundation for trusted, future-ready technology brands.
            </p>
          </div>
          <!-- Section Title End -->

          <!-- Our Specialties Button Start -->
          <div class="our-specialties-btn wow fadeInUp" data-wow-delay="0.6s">
            <a href="contact.html" class="btn-default">contact now</a>
          </div>
          <!-- Our Specialties Button End -->
        </div>
        <!-- Our Specialties Content End -->
      </div>

      <div class="col-lg-6">
        <!-- Specialties Item Box Start -->
        <div class="specialties-item-box">
          <!-- Specialties Item Start -->
          <div class="specialties-item wow fadeInUp">
            <div class="icon-box">
              <img src="/assets/images/icon-specialties-item-1.svg" alt="" />
            </div>
            <div class="specialties-item-content">
              <h3>24/7 Threat Monitoring</h3>
              <p>
               Proactive 24/7 surveillance to identify vulnerabilities and emerging cyber threats before they impact your busines
              </p>
            </div>
          </div>
          <!-- Specialties Item End -->

          <!-- Specialties Item Start -->
          <div class="specialties-item wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon-box">
              <img src="/assets/images/icon-specialties-item-2.svg" alt="" />
            </div>
            <div class="specialties-item-content">
              <h3>Brand & Identity Security</h3>
              <p>Robust safeguards for your startup's digital identity and online presence, combining reputation management with real-time risk detection</p>
            </div>
          </div>
          <!-- Specialties Item End -->

          <!-- Specialties Item Start -->
          <div class="specialties-item wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon-box">
              <img src="/assets/images/icon-specialties-item-3.svg" alt="" />
            </div>
            <div class="specialties-item-content">
              <h3>Innovative Solutions</h3>
              <p>Creative, tailored strategies powered by the latest technologies and a deep understanding of the cybersecurity landscape to foster growth</p>
            </div>
          </div>
          <!-- Specialties Item End -->

          <!-- Specialties Item Start -->
          <div class="specialties-item wow fadeInUp" data-wow-delay="0.6s">
            <div class="icon-box">
              <img src="/assets/images/icon-specialties-item-4.svg" alt="" />
            </div>
            <div class="specialties-item-content">
              <h3>Trusted Expertise</h3>
              <p>
                Guidance and support from certified cybersecurity professionals, ensuring your business builds trust and meets industry standards from the start
              </p>
            </div>
          </div>
          <!-- Specialties Item End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Specialties Section End -->


<div class="container py-5">
  <div class="row">
      <!-- CTA Section (as in the third image) -->
    <section class="cta-box py-5 section-title" >
        <div class="cta-box-content p-5">
            <h1 class="pt-5"> Don’t Wait for a Breach, Secure </br> <span class=""> Your Cyber Space Now!</span></h1>
            <p class="pt-2 pb-5">Stay Ahead of Cyber Threats with Cyber Arch Security Solutions.</p>
            <div style="margin-top: 25px;">               
                <a href="/contactus" class="btn-default btn-highlighted">Contact us</a>
            </div>
        </div>
    </section>
  </div>
</div>


<!-- Our Results Section Start -->
<div class="our-success">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!-- Our Success Images Start -->
        <div class="our-success-iamges">
          <!-- Success image 1 Start -->
          <div class="success-img-1">
            <figure class="image-anime reveal">
           
                <img src="https://img.freepik.com/free-photo/person-with-futuristic-metaverse-avatar-mask_23-2149699834.jpg?t=st=1752031551~exp=1752035151~hmac=416c99d778107bc10bacbfb546825179daa0d15b7551c31183c0e413f59bf5cc&w=1380" alt="" />
            </figure>
          </div>
          <!-- Success image 1 End -->

          <!-- Success image 2 Start -->
          <div class="success-img-2">
            <figure class="image-anime reveal">
                <img src="../assets/images/girl_cybersecurity.avif" alt="" />
            </figure>
          </div>
          <!-- Success image 2 End -->
        </div>
        <!-- Our Success Images End -->
      </div>
      <div class="col-lg-6">
        <!-- Our Success Content Start -->
        <div class="our-success-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Our Results</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              Our core values the pillars of <span>our success</span>
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
           In a digital landscape where threats evolve rapidly, trust and proactive defense are vital for lasting business success. Our expert-led approach integrates the following pillars to help your organization excel in cybersecurity:
            </p>
          </div>
          <!-- Section Title End -->

          <!-- Success Item List Start -->

          <div class="row">
            <!-- Faqs Contact Item Start -->
            <div
              class="faqs-contact-item wow fadeInUp w-100"
              data-wow-delay="0.6s"
            >
              <div class="icon-box">
                <img src="/assets/images/icons/threat-detection.svg" alt="threat detection" />
              </div>
              <div class="faqs-contact-item-content">
                <h3>Real-time threat detection</h3>
                <p>
                 Instant monitoring for emerging cyber risks. Quickly responds to threats, keeping your devices and data secure.
                </p>
              </div>
            </div>
            <!-- Faqs Contact Item End -->
          </div>

          <div class="row py-5">
            <!-- Faqs Contact Item Start -->
            <div
              class="faqs-contact-item wow fadeInUp w-100"
              data-wow-delay="0.6s"
            >
              <div class="icon-box">
                <img src="/assets/images/icons/malware.svg" alt="Malware" />
              </div>
              <div class="faqs-contact-item-content">
                <h3>Malware and virus prevention</h3>
                <p>
                 Comprehensive protection against known and unknown malicious software.Ensures your systems remain robust and operational.
                </p>
              </div>
            </div>
            <!-- Faqs Contact Item End -->
          </div>

          <!-- Success Item List End -->
        </div>
        <!-- Our Success Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Our Results Section End -->

<!-- YEAR OF EXPERIENCE START-->

<div class="container">
  <div class="row py-5">
    <!-- Section Title Start -->
    <div class="row section-row align-items-center">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title section-title-center">
          <h3 class="wow fadeInUp">About Us Exp</h3>
          <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
            We provide innovative solutions to help your cybersecurity startup
            grow, building a trusted <span>brand with precision</span>
          </h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>
    <div class="col-lg-4">
      <!-- About Counter Box Start -->
      <div class="about-counter-box">
        <h2><span class="counter">12</span>+</h2>
        <p>Years of work experience</p>
      </div>
      <!-- About Counter Box End -->
    </div>

    <div class="col-lg-8">
      <!-- About Us Content Start -->
      <div class="about-us-content">
        <!-- About Us List Start -->
        <div class="about-us-list">
          <!-- About List Item Start -->
          <div class="about-list-item wow fadeInUp">
            <img src="/assets/images/icon-about-item-1.svg" alt="" />
            <h3>Our mission</h3>
            <p>
           To empower businesses globally by delivering secure, efficient, and future-ready solutions in the domains of cybersecurity, cloud, networking, and web development.
            </p>
          </div>
          <!-- About List Item End -->

          <!-- About List Item Start -->
          <div class="about-list-item wow fadeInUp" data-wow-delay="0.2s">
            <img src="/assets/images/icon-about-item-2.svg" alt="" />
            <h3>Our vision</h3>
            <p>
          To become a trusted global leader in technology solutions, enabling businesses to thrive in the digital age.
            </p>
          </div>
          <!-- About List Item End -->
        </div>
        <!-- About Us List End -->

        <!-- Center Title  Start -->
        <div class="about-us-body wow fadeInUp" data-wow-delay="0.4s">
          <p>
         Cyber Arch specializes in empowering cybersecurity startups with tailored, innovative solutions that promote growth and trust. By combining deep expertise with creative strategies, we help clients build a robust online presence, establish a trusted brand, and navigate digital challenges—delivering secure, future-ready technology in a rapidly evolving landscape.


          </p>
        </div>
        <!-- Center Title End -->
      </div>
      <!-- About Us Content End -->
    </div>
  </div>
</div>
<!-- YEAR OF EXPERIENCE End -->

<MyServices  showButton={true}/>

<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Why Choose Box Start -->
        <div class="why-choose-box">
          <div class="row section-row align-items-center">
            <div class="col-lg-7 col-md-9">
              <!-- Section Title Start -->
              <div class="section-title">
                <h3 class="wow fadeInUp">Why Choose Us</h3>
                <h2
                  class="wow fadeInUp"
                  data-wow-delay="0.2s"
                  data-cursor="-opaque"
                >
                  We ensure comprehensive protection for your <span
                    >business</span
                  >
                </h2>
                <p>
                  Our team of highly skilled cybersecurity experts is committed
                  to safeguarding your most sensitive data and protecting your
                  digital assets from the ever-evolving cyber threats.
                </p>
              </div>
              <!-- Section Title End -->
            </div>

            <div class="col-lg-5 col-md-3">
              <!-- About Us Circle Start -->
              <div class="about-us-circle">
                <a href="about.html"
                  ><img src="/assets/images/about-us-circle.png" alt="circle" /></a
                >
              </div>
              <!-- About Us Circle End -->
            </div>
          </div>

          <!-- Why Choose Item List Start -->
          <div class="why-choose-item-list">
            <!-- Why Choose Item Start -->
            <div class="why-choose-item wow fadeInUp">
              <div class="icon-box">
                <img src="/assets/images/icons/vulnerability.svg" alt="vulnerability" />
              </div>
              <div class="why-choose-item-content">
                <h3>Vulnerability Penetration Testing</h3>
                <p>
                  Every business is unique, and so are our solutions. We
                  customize strategy fit your specific needs.
                </p>
              </div>
            </div>
            <!-- Why Choose Item End -->

            <!-- Why Choose Item Start -->
            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box">
                <img src="/assets/images/icon-why-choose-item-2.svg" alt="Threat Intelligence" />
              </div>
              <div class="why-choose-item-content">
                <h3>Threat Intelligence</h3>
                <p>
                  We use the latest tools and cutting-edge technologies to
                  safeguard your digital environment.
                </p>
              </div>
            </div>
            <!-- Why Choose Item End -->

            <!-- Why Choose Item Start -->
            <div class="why-choose-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-box">
                <img src="/assets/images/icon-why-choose-item-3.svg" alt="" />
              </div>
              <div class="why-choose-item-content">
                <h3>Access Control Management</h3>
                <p>
                  Stay ahead of attackers with pro active threat detection and
                  response systems that operate 24/7.
                </p>
              </div>
            </div>
            <!-- Why Choose Item End -->
          </div>
          <!-- Why Choose Item List End -->

          <!-- Section Footer Text Start -->
          <div class="section-footer-text wow fadeInUp" data-wow-delay="0.6s">
            <p>
              <span>Free</span>Let's make something great work together. - <a
                href="/contactus">Expert Solutions</a
              >
            </p>
          </div>
          <!-- Section Footer Text End -->
        </div>
        <!-- Why Choose Box End -->
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Us Section End -->

<!-- Our Features Section Start -->
<div class="our-features">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-6">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Our Features</h3>
          <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
            Security features engineered for <span>maximum efficiency</span>
          </h2>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="col-lg-6">
        <!-- Section Title Content Start -->
        <div class="section-title-content wow fadeInUp" data-wow-delay="0.4s">
          <p>
            Experience cutting-edge security features designed to deliver
            maximum efficiency without compromising performance.
          </p>
        </div>
        <!-- Section Title Content End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Features Item Start -->
        <div class="features-item wow fadeInUp">
          <div class="icon-box">
            <img src="/assets/images/icon-features-item-1.svg" alt="" />
          </div>
          <div class="features-item-content">
            <h3>Advanced Encryption</h3>
            <p>
              End-to-end encryption for a data at rest and in transit, ensuring
              your sensitives.
            </p>
          </div>
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Features Item Start -->
        <div class="features-item wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon-box">
            <img src="/assets/images/icons/Ransomware.svg" alt="" />
          </div>
          <div class="features-item-content">
            <h3>Ransomware Protection</h3>
            <p>
              We combine advanced threat detection, robust encryption, and
              proactive monitoring.
            </p>
          </div>
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Features Item Start -->
        <div class="features-item wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon-box">
            <img src="/assets/images/icons/Firewall-protection.svg" alt="" />
          </div>
          <div class="features-item-content">
            <h3>Firewall Protection</h3>
            <p>
              Our robusts firewalls act as the first line of defense, monitor
              and controlling.
            </p>
          </div>
        </div>
        <!-- Features Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Features Item Start -->
        <div class="features-item wow fadeInUp" data-wow-delay="0.6s">
          <div class="icon-box">
            <img src="/assets/images/icons/endpoint.svg" alt="" />
          </div>
          <div class="features-item-content">
            <h3>Endpoint Security</h3>
            <p>
              Secure every device connect to your network with our cutting-edge
              Endpoint.
            </p>
          </div>
        </div>
        <!-- Features Item End -->
      </div>
    </div>
  </div>
</div>
<!-- Our Features Section End -->



<!-- CTA Box Start -->
<div class="cta-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- CTA Box Content Start -->
        <div class="cta-box-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Contact Us</h3>
            <h2
              class="wow fadeInUp"
              data-wow-delay="0.2s"
              data-cursor="-opaque"
            >
              We're Just a <span>click away</span>
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
              Want to learn more about our services or need immediate
              assistance? Connect with us
            </p>
          </div>
          <!-- Section Title End -->

          <!-- CTA Box List Start -->
          <div class="cta-box-list wow fadeInUp" data-wow-delay="0.6s">
            <ul>
              <li>Dedicated Support Team</li>
              <li>Fast and Reliable Assistance</li>
              <li>Multiple Ways to Reach Us</li>
            </ul>
          </div>
          <!-- CTA Box List End -->

          <!-- Newsletter Form start -->
          <div class="subscribe-form wow fadeInUp" data-wow-delay="0.8s">
            <form id="newsletterForm" action="#" method="POST">
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="mail"
                  placeholder="* Enter Your Email Address"
                  required=""
                />
                <button type="submit" class="btn-default">Subscribe Now</button>
              </div>
            </form>
          </div>
          <!-- Newsletter Form end -->
        </div>
        <!-- CTA Box Content End -->
      </div>
    </div>
  </div>
</div>
<!-- CTA Box End -->

<!-- Scrolling Ticker Section Start -->
<div class="our-scrolling-ticker footer-scrolling-ticker">
  <!-- Scrolling Ticker Start -->
  <div class="scrolling-ticker-box">
    <div class="scrolling-content">
      <span><a href="contact.html">Work together Work Together</a></span>
      <span><a href="contact.html">Work together Work Together</a></span>
    </div>

    <div class="scrolling-content">
      <span><a href="contact.html">Work together Work Together</a></span>
      <span><a href="contact.html">Work together Work Together</a></span>
    </div>
  </div>
  <!-- Scrolling Ticker End -->
</div>
<!-- Scrolling Ticker Section End -->
